<!DOCTYPE html>
<html>
    <head>
        <title>html structer</title>
        <body>
            <h1>balabhavani</h1>
            <h2>balabharathi</h2>
            <h3>bobby</h3>
            <h4>srinivas</h4>
            <h5>lakshmi</h5>
            <h6>kranthi</h6>
            <p> a group of individuals related by blood, marriage, or adoption. a group of usually related individuals
             who live together under common household authority and especially who have reciprocal duties to each other</p>
        </body>
    </head>
</html>