<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Family Numbers</title>
    </head>
    <body>
        <h1>My Family Numbers</h1>
        <ul>
            <li>bhavani</li>
            <li>bharathi</li>
            <li>lakshmi</li>
            <li>srinivas</li>
        </ul>
        <ol>
            <li>bhavani</li>
            <li>bharathi</li>
            <li>lakshmi</li>
            <li>srinivas</li>
        </ol>
    </body>
</html>