<!DOCTYPE html>
<html lang="en">
<head>
    <title>table</title>
</head>
<body>
    <table border="1"cellpadding="10" cellspacing="5">
        <tr>
            <th>S.no</th>
            <th>name</th>
            <th>age</th>
        </tr>
        <tr>
            <td colspan="1">1</td>
            <td>bhavani</td>
            <td>23</td>
        </tr>
        <tr>
            <td rowspan="2">2</td>
            <td>bharathi</td>
            <td>21</td>
            
        </tr>
        <tr>
            <td>3</td>
            <td>lakshmi</td>
            <td>23</td>
        </tr>
    </table>
    
</body>
</html>
